@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* { 
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body { 
  font-family: 'Fredoka One', cursive;
  background-color: #041562;
}

#seleccionar-mascota { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo { 
  color: white;
  font-size: 32px;
  font-family: 'Fredoka One', cursive;
}

.subtitulo { 
  color: white;
  font-size: 20px;
}

.tarjetas {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 100px;
  background: #114685;
  padding: 10px;
  border-radius: 20px;
}

.tarjeta-de-mokepon img { 
  width: 80px;
}

input {
  display: none;
}

input:checked + label {  /* "+" va a seleccionar los hermanos proximos en el HTML del elemento input */
  background-color: #5d8bf4;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 32px;
}

#seleccionar-ataque { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque { 
  background-color: #11468f;
  padding: 10px;
  margin-right: 8px;
  border-radius: 20px;
  border-color: transparent;
  width: 100px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#mensajes { 
  width: 280px;
  background: #EEE;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#boton-reiniciar { 
  border: none;
  color: #11468f;
  font-family: 'Poppins', sans-serif;
}

.ataques { 
  display: grid;
  grid-template-columns: 100px 100px;  /* De esta manera creamos 2 columnas de 100px cada una */
  text-align: center;
  color: white;
}

.ataques-jugador, .ataques-enemigo { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ver-mapa { 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mapa { 
  /* border: 2px solid white; */
  border-radius: 10px;
}

#ver-mapa button { 
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 4px 0;
}


@media (max-width: 560px) { 
  .tarjetas { 
    flex-direction: column;
  }

  .botones-de-ataque {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media ( max-width: 350px ) { 
  #ver-mapa div { 
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}